@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: black;
    --background: white;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
  }
}

body {
  background: white;
}

:root body[data-scroll-locked] {
  overflow: unset !important;
  margin-right: 0px !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-transition {
  transition: none !important;
}